.navbar-custom {
  background-color: #feffff !important;
    padding-right: 20px;
}
#sariri-title {
  margin-right: 60px; /* Ajusta este valor para aumentar la separación */
  color: #FFD700; /* Color dorado para el título */
  font-size: 3rem; /* Tamaño del texto */
}

.navbar-nav {
    margin-left: 30px;
    color: #78B7B5;
    font-size: 23px;
    font-weight: bold;
    color: #000000;
}
.navbar-nav .nav-link {
    font-size: 26px; 
    color: #78B7B5;
    white-space: nowrap;
}
.navbar-nav .nav-item:hover {
    border-bottom: 2px solid #02a551;
    padding-bottom: 2px; 
}
.logo-margin {
  margin-right: 55px; 
}
body {
    background-color: #feffff; 
    font-family: 'Montserrat', sans-serif;
}


 .social-icon  {
      position: fixed;
      right: 20px;
      width: 30px; 
      height: 30px;
      z-index: 1000;
    }

    .whatsapp-icon {
      bottom: 140px; 
    }

    
      .facebook-icon {
        bottom: 90px; 
  }
    
  @media (max-width: 768px) {
      .whatsapp-icon {
          bottom: 60px; 
      }
      .facebook-icon {
          bottom: 10px; 
      }
  }
    .social-icon img {
width: 40px; 
height: auto;


  }

  .footer-social-icon img {
width: 40px;
height: auto;
margin: 0 20px; 
opacity: 0.7; 
transition: opacity 0.3s ease, transform 0.3s ease;
}

.footer-social-icon img:hover {
opacity: 1; 
transform: scale(1.1); 
}

hr {
    height: 14px;
    border: none;
    margin-top: 0;        
    background: #000000;  
    background: -webkit-linear-gradient(to left, #0f9b0f, #000000);  
    background: linear-gradient(to left, #0f9b0f, #000000); 
    
    margin: 0;
}

        .scroll-up-icon {
  position: fixed;
  left: 20px; 
  bottom: 20px; 
  width: 70px;
  height: 70px;
  background-color: #000; 
  color: #fff; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  cursor: pointer;
  opacity: 0.7; 
  transition: opacity 0.3s ease;
}

.scroll-up-icon:hover {
  opacity: 1; 
  }
  .scroll-up-icon i {
font-size: 1,5rem; 
} 

.footer {
background-color: #dbdbdb; 
color: #000000; 
padding: 20px 0;
}

.footer a {
color: #000000; 
text-decoration: none;
}

.footer a:hover {
text-decoration: underline; 
color: #000000;
padding-bottom: 2px; 
}

.footer p {
margin: 0; 
}

.footer-links a{
display: flex;
justify-content: center; 

margin: 0 15px; 

}
.footer-icons {
display: flex; 
justify-content: center; 
align-items: center; 
width: 100%; 
margin: 0 auto; 
gap: 15px; 
}
.card-img-uniform {
background-color: #dbdbdb;
height: 200px; 
object-fit: cover; 
width: 100%; 
}


.montserrat-uniquifier {
font-family: "Montserrat", serif;
font-optical-sizing: auto;
font-weight: normal;
font-style: normal;
}
@media (max-width: 768px) {

body {
margin: 0; 
padding: 0; 
font-size: 14px;
}
.container {
padding: 18px;

}
.container {
max-width: 100%;
display: flex;
flex-wrap: wrap; 
}
.item {
flex: 1 1 200px; 
}
}
img {
max-width: 100%;
height: auto;}
#imagen-integracion {
height: 200px; 
object-fit: cover; 

}

#imagen-tratamiento {
height: 200px; 
object-fit: cover; 


}
h1 {
font-size: 1.5rem;
font-weight: bold;
color: #02a551;
}
div.card-body{
background-color: #dbdbdb;
}

.dropdown-menu.show .dropdown-item {
color: #78B7B5; 
}


.nav-item.dropdown:hover .dropdown-menu {
display: block;
}
.dropdown-item {
color: #78B7B5; 
}


.dropdown-menu {
display: none;
transition: opacity 0.3s ease-in-out;
}

.nav-item.dropdown:hover .dropdown-menu {
display: block;
opacity: 1;
}




.custom-button {
height: 50px; 
padding: 0 20px; 
border: 2px solid rgb(14, 13, 13); 
background: transparent; 
color: rgb(10, 10, 10);
font-size: 16px; 
cursor: pointer;
white-space: nowrap; 
margin-left: 22px; 



}


.custom-button:hover {
  background: #0f9b0f;
  color: white;
}
.card {
  display: flex; /* Usar flexbox para el diseño */
  flex-direction: row; /* Alinear elementos en fila */
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
}

.text-container {
  display: flex;
  flex-direction: column; /* Alinear el texto en columna */
  justify-content: center; /* Centrar verticalmente el texto */
  width: 50%; /* Ajusta el ancho del contenedor de texto */
  padding: 20px; /* Espaciado interno */
}

.card-title {
  color: #FFD700; /* Color dorado para el título */
  margin: 0; /* Eliminar margen para alineación */
  text-align: left; /* Alinear el texto a la izquierda */
}
#sariri-title {
  font-size: 3rem; /* Ajusta este valor según sea necesario para que sea el doble del tamaño actual */
  color: #FFD700; /* Color dorado para el título */
  margin: 0; /* Eliminar margen para alineación */
  text-align: left; /* Alinear el texto a la izquierda */
}
.card-text {
  font-size: 1.2rem; /* Tamaño del texto */
  color: #78B7B5; /* Color blanco para el texto */
}

.degradado-fondo {
gap: 10px;
background: #79c498b2;  
    background: -webkit-linear-gradient(to left, #feffff,#02a551); 
    background: linear-gradient(to left, #feffff ,#02a551);
padding: 20px; 
border-radius: 0; 
}

h5 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;  
  max-width: 90%;  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 

}


p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-heading {
font-family: Arial, Helvetica, sans-serif;
font-size: 2.5rem;
font-weight: bold;
color: #02a551;
}
.alineado-izquierda {
    text-align: left; 
    line-height: 1.6; 
}

.estilo-h5 {
    font-size: 1.25em; 
    font-weight: bold; 
    margin: 0;
    padding: 0; 
    color: rgba(255, 255, 255, 0.85); 
    margin-bottom: 1em; 
}
  
.carousel-inner img {
  width: 100%; /* Asegura que la imagen ocupe el 100% del ancho */
  height: auto; /* Mantiene la proporción de la imagen */
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute; /* Posiciona los botones de forma absoluta */
    top: 50%; /* Centra verticalmente los botones */
    transform: translateY(-50%); /* Ajusta la posición para centrar */
    z-index: 10; /* Asegura que los botones estén por encima de la imagen */
    width: 60px; /* Ancho del botón */
    height: 60px; /* Alto del botón */
    background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
    border-radius: 50%; /* Bordes redondeados */
    border: none; /* Sin borde */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000; /* Color del icono */
    border-radius: 50%; /* Bordes redondeados para el icono */
    width: 30px; /* Ancho del icono */
    height: 30px; /* Alto del icono */
}

/* Aumentar el tamaño del icono */
.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    font-size: 24px; /* Tamaño del icono */
}